.sectionPerguntas {
  align-items: center;
  background-image: url('../images/star-wars-wallpaper-9.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.question {
  color: white;
}

.alternativas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.box-question {
  background-color: black;
  margin: 100px auto;
  width: 60%;
}
