.div-loading {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.triangle {
  animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
  stroke-dasharray: 17;
}

@keyframes dash {

  to {
    stroke-dashoffset: 136;
  }
}

.loading {
  animation: blink 0.9s ease-in-out infinite;
  font-family: 'Orbitron' , sans-serif;
  font-size: 10px;
}

@keyframes blink {

  50% {
    opacity: 0;
  }
}
